.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
.header {
  padding: 10px 0 10px 0;
}

.App-link {
  color: #61dafb;
}

.todoapp {
  margin: 4px 0 40px 0;
  position: relative;
  border-radius: 10px;
  padding: 20px;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
    rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    background-image: url(./assets/images/80s.jpg);
}

.todoapp input::-webkit-input-placeholder {
  font-style: italic;
  font-weight: 300;
  color: #e6e6e6;
}

.todoapp input::-moz-placeholder {
  font-style: italic;
  font-weight: 300;
  color: #e6e6e6;
}

.todoapp input::input-placeholder {
  font-style: italic;
  font-weight: 300;
  color: #e6e6e6;
}

.todoapp h1 {
  position: absolute;
  top: -155px;
  width: 100%;
  font-size: 100px;
  font-weight: 100;
  text-align: center;
  color: rgba(175, 47, 47, 0.15);
  -webkit-text-rendering: optimizeLegibility;
  -moz-text-rendering: optimizeLegibility;
  text-rendering: optimizeLegibility;
}

.filters {
  margin: 0;
  padding: 0;
  list-style: none;
  position: absolute;
  right: 0;
  left: 0;
}

.filters li {
  display: inline;
}

.filters li a {
  color: inherit;
  margin: 3px;
  padding: 3px 7px;
  text-decoration: none;
  border: 1px solid transparent;
  border-radius: 3px;
}

.filters li a:hover {
  border-color: rgba(175, 47, 47, 0.1);
}

.filters li a.selected {
  border-color: rgba(175, 47, 47, 0.2);
}

.footer {
  color: #777;
  padding: 10px 15px;
  height: 20px;
  text-align: center;
  border-top: 1px solid #e6e6e6;
}

.footer:before {
  content: "";
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  height: 50px;
  overflow: hidden;
}

.todo-count {
  float: left;
  text-align: left;
}

.todo-count strong {
  font-weight: 300;
}

.clear-completed,
html .clear-completed:active {
  float: right;
  position: relative;
  line-height: 20px;
  text-decoration: none;
  cursor: pointer;
}

.clear-completed:hover {
  text-decoration: underline;
}

.info {
  margin: 65px auto 0;
  color: #bfbfbf;
  font-size: 10px;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
  text-align: center;
}

.info p {
  line-height: 1;
}

.info a {
  color: inherit;
  text-decoration: none;
  font-weight: 400;
}

.info a:hover {
  text-decoration: underline;
}

.new-todo,
.edit {
  position: relative;
  margin: 5px;
  width: 40%;
  text-shadow: 0 0 5px rgb(58, 10, 231),
   0 0 10px rgb(81, 11, 211);
 
  font-size: 24px;
  font-family: inherit;
  font-weight: inherit;
  line-height: 1em;
  border: 0;
  color:rebeccapurple;
  padding: 20px;
  /* border: 1px solid #999; */
  /* box-shadow: inset 0 -1px 5px 0 rgba(0, 0, 0, 0.2); */
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  /* -moz-osx-font-smoothing: grayscale; */

}


.new-todo {
  padding: 10px 16px 16px 50px;
  border: 1px solid black;
  background:floralwhite;
  box-shadow: inset 0 -2px 1px rgba(0, 0, 0, 0.03);

}

.timerButton {
  width: 10%;
  align-items: center;
}

.rowTimer {
  display: flex;
  justify-content: center;
}

.view {
  border: 1px solid black;
  padding: 10px 0 10px 0;
}

.register {
  display: flex;
  flex-direction: column;
  
  padding-top: 7%;
  padding-bottom: 7%;
  margin-top: 5%;
  margin-bottom: 5%;
  margin-left: 30%;
  margin-right: 30%;
}

.regInput {
  margin-bottom: 20px;
}

.login {
  /* display: flex;
  flex-direction: column;
  border: 1px solid black;
  padding-top: 7%;
  padding-bottom: 7%;
  margin-top: 5%;
  margin-bottom: 5%;
  margin-left: 30%;
  margin-right: 30%; */
  background-image: url(./assets/images/80s.jpg);
  color: #fff;
  font-weight: 500;
  width: 40%;
  margin: 50px auto;
  border-radius: 10px;
  padding: 20px;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
    rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    text-shadow: 0 0 5px #fff,
    0 0 10px #fff,
     0 0 15px #5604a3,
      0 0 20px #5604a3,
       0 0 25px #5604a3,
        0 0 30px #5604a3,
         0 0 35px #5604a3;
}

.logInput {
  margin-bottom: 20px;
}

.register {
  background-image: url(./assets/images/80s.jpg);
  background-color: #fff;
  width: 40%;
  margin: 50px auto;
  border-radius: 10px;
  padding: 20px;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
  rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
  rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    color: #fff;
    font-weight: 500;
    text-shadow: 0 0 5px #fff,
    0 0 10px #fff,
     0 0 15px #5604a3,
      0 0 20px #5604a3,
       0 0 25px #5604a3,
        0 0 30px #5604a3,
         0 0 35px #5604a3;

}

.todo-count {
  color: black;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

button {
  margin: 5px;
}
.custom-btn {
  color: #fff;
  width: 130px;
  height: 40px;
  padding: 10px 25px;
  font-family: 'Lato', sans-serif;
  font-weight: 500;
  background: transparent;
  cursor: pointer;
  transition: all 0.3s ease;
  position: relative;
  display: inline-block;
}
/* .btn { */
  /* font-size: 80%;
  border-radius: 5rem;
  letter-spacing: 0.1rem;
  font-weight: bold;
  transition: all 0.2s;
  margin-bottom: 10px;   */

  /* color: #0bf4f3;
  border: 1px solid #0bf4f3;
  box-shadow:  0 0 5px #0bf4f3,  0 0 5px #0bf4f3 inset;
} */

.btn{
  border: none;
  background-color: #ff9aff;
  box-shadow: 0 0 5px #ef97e8;
}
.btn:hover {
   box-shadow: 0 0 10px #ef97e8, 0 0 20px #ef97e8, 0 0 20px #fff inset;
}



.profile {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.pInfo {
  display: flex;
  flex-direction: column;
  background-image: url(./assets/images/80s.jpg);
  padding: 50px;
  background-color: white;
  border-radius: 25px;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
  rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
  rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px; font-size: 15px;
  color: #fff;
  text-align: center;
  text-shadow: 0 0 5px #fff,
   0 0 10px #fff,
    0 0 15px #5604a3,
     0 0 20px #5604a3,
      0 0 25px #5604a3,
       0 0 30px #5604a3,
        0 0 35px #5604a3;

}

.profile-stats {
  display: flex;
  flex-direction: column;
  justify-content: right;
  background-image: url(./assets/images/80s.jpg);
  padding: 35px;
  background-color: white;
  border-radius: 25px;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
    rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    color: #fff;
    text-align: center;
    text-shadow: 0 0 5px #fff,
     0 0 10px #fff,
      0 0 15px #5604a3,
       0 0 20px #5604a3,
        0 0 25px #5604a3,
         0 0 30px #5604a3,
          0 0 35px #5604a3;
  

}

.profile-title {
  padding-bottom: 25px;
  padding-top: 15px;
    font-size: 50px;
    color: #fff;
    text-align: center;
    text-shadow: 0 0 5px #fff, 
    0 0 10px #fff,
     0 0 15px #0073e6,
      0 0 20px #0073e6,
       0 0 25px #0073e6,
        0 0 30px #0073e6,
         0 0 35px #0073e6;
  
}

.view {
  border-radius: 10px;
  padding: 20px;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
    rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}
